<p id="notice"><%= notice %></p>

<p>

  <%= @schedule.title %>
</p>

<p>
  <%= @schedule.datespan %>
</p>

<p>
  <%= @schedule.description %>
</p>

<p>

  <%= @schedule.live %>
</p>

<p>

  <%= @schedule.channel %>
</p>

<p>

  <%= @schedule.status %>
</p>

<p><%= @schedule.event_length %></p>
<p><%= @schedule.rec_pattern %></p>
<p><%= @schedule.single_checkbox %></p>
<p><%= @schedule.radiobutton_option %></p>
<p><%= @schedule.custom_type %></p>

<% if user_signed_in? %>
  <%=  link_to 'EDIT', edit_schedule_path(@schedule) %> |
<% end %>
<%= link_to 'BACK', schedules_path %>
