<div id="nav">
    <ul id="menu">
        <li class="logo">
            <img style="float:left;" alt="" src="/images/menu_left.png"/>
            <ul id="main">
                <li>
									PAYPAL
									</li>
								<li>
									<div class="copyright">
								   <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" /></a>
								   <br />
								   <span class="title">MICRONEMEZ</span> is licensed under a <a class="cc_license_txt" rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>
							   </div>
								</li>
                
            </ul>
            
        </li>
        <li>
        [<%= link_to " upload ", new_video_path %>] 
        &nbsp;
        [<%= link_to " all videoz ", videos_path %>]
        &nbsp;
        [ <%= link_to " schedulez ", schedules_path %> ] 
        &nbsp;
        [ <%= link_to " calendar ", new_schedule_path %> ]
        &nbsp;
        [<%= link_to " fourmz ", forums_path %>] 
        &nbsp;

         <% if user_signed_in? %>
        [ <%= link_to " sign out ", destroy_user_session_path, :title => current_user.username %> ]
        <% end %>
         &nbsp;
        
      </li>
      
    
    </ul>
    
</div>

<span class="menuspan">&nbsp;</span>
<div style="float:none; clear:both;"></div>