<% if user_signed_in? %>
  <div class="right controls"><%= link_to "NEW FORUM CATEGORY", new_category_path %></div>
<% end %>
<% @categories.each do |category| %>
  <div class="module">
    <div class="module_header">
      <%= category.title %>
      <span class="controls right smaller">
          <%= link_to "new forum", new_forum_path %>
          <% if user_signed_in? %>
          <%= link_to "edit category", edit_category_path(category) %>
          <% if current_user.try(:admin?) %>
            <%= link_to "delete category", category_path(category), :confirm => "are you sure you want to delete this category?", :method => :delete %>
          <% end %>
          <% end %>
      </span>
    </div>
    <% if category.forums.size > 0 %>
    <div>
      <table>
        <tr class="smaller">
          <th align="left">forum</th>
          <th>topicz</th>
          <th>postz</th>
          <th class="last_post" align="left">last post</th>
        </tr>
        <% category.forums.each do |forum| %>
        <tr>
          
          <td class="description">
            <%= link_to forum.title, forum_path(forum) %> 
            <span class="smaller"><%= forum.description %></span><br />
          </td>
          <td class="counts smaller"><%= forum.topics.size %></td>
          <td class="counts smaller"><%= forum.posts.size - forum.topics.size %></td>
          <td class="last_post smaller">
            <% if forum.posts.size > 0 %>
              <%= time_ago_in_words(forum.posts.last.created_at) %> ago by 
              <%= forum.posts.last.user.username %>
            <% else %>
              NOTHIN' YET...
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    <% else %>
      <div class="module_body">NO FORUMZ YET...</div>
    <% end %>
  </div>
<% end %>
