<!DOCTYPE html>
<html>
<head>
  <title>micronemez</title>

  <%= stylesheet_link_tag    "application" %>
	
  <%= javascript_include_tag "application" %>
	
	<meta charset="UTF-8">
	<meta itemprop="og:image" name="fbog" content="http://micronemez.com/mcrnmz01.jpg"/>
	
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

</body>
</html>
