<!DOCTYPE html>
<html>
<head>
  <title>Micronemez</title>

  <%= stylesheet_link_tag    "application" %>
	
  <%= javascript_include_tag "application" %>
	<script type="text/javascript" src="http://html5.kaltura.org/js" ></script>
	
	<meta property="og:image" content="http://micronemez.com/mcrnmz01.jpg"/>
	
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

</body>
</html>
