<div class="bodd_marg">

  <table>
    <tr>
      <% if current_user.try(:admin?) %>
      <th></th>
      <% end %>
      <th>name</th>
      <th>public</th>
      <th>description</th>
      <th>date</th>
      <th>location</th>
      <th>tagz</th>
      <th></th>
      
    </tr>

  <% @nodes.each do |node| %>
    <tr>
      <% if current_user.try(:admin?) %>
        <td>
          <%= link_to 'edit', edit_node_path(node) %> 
          <%= link_to 'destroy!', node, confirm: 'o rly?', method: :delete %>
        </td>
      <% end %>
      <td><%= link_to truncate(node.name, :length => 66), node %></td>
      <td><%= node.is_public %></td>
      <td><%= truncate(node.description, :length => 255) %></td>
      <td><%= node.date %></td>
      <td><%= truncate(node.location, :length => 166) %></td>
      <td><%= node.tag_list %></td>
      
    </tr>
  <% end %>
  </table>

  <br />
  <% if current_user.try(:admin?) %>
    <%= link_to 'new node', new_node_path %>
  <% end %>

</div>





