<% content_for :header do %>
  <%= javascript_include_tag 'soundmanager2' %>
  <%= javascript_include_tag 'page-player' %>
  <%= javascript_include_tag 'scrollr' %>
  <%= javascript_include_tag 'homejs' %>
<% end %>
<div id="home_index">
	
  <div id="makeMeScrollable" class="scrollWrapper video-scroll-pane horizontal-only">
	  <%= render "video" %>
	</div>
    
	<div id="middle-scrollr" class="audio-scroll-pane">
		<%= render "audio" %>
	</div>

	<div id="bottom">
		<%= render "bottom" %>
	</div>

</div>

