<% content_for :header do %>

  <%= javascript_include_tag 'hexx_assets' %>
  <%= javascript_include_tag 'hexx' %>
<% end %>

<div id="info-container" class="transitions-enabled infinite-scroll clearfix">
	<div class="box col2">
		<a href="http://www.flickr.com/photos/nemoorange/3318887645/" title="Clarendon Metro by nemoorange, on Flickr"><img src="http://farm4.static.flickr.com/3619/3318887645_1f33364338.jpg" width="326" 	alt="Clarendon Metro"/></a>
		<p>
			<%= t :info_greeting %> 
			<br />
			<%= t :info_intro %>
			<h2 class="big-header"><%= t :info_qanda_h1 %></h2>
			<p class="info_qanda"><%= t :info_qanda %></p>
		</p>
	</div>

</div> <!-- #container -->

<nav id="page-nav"><a href="../pages/2.html"></a></nav>
