<% content_for :header do %>
  <%= javascript_include_tag 'hexx_assets' %>
  <%= javascript_include_tag 'hexx' %>
<% end %>
<div id="cluster">
    <div class="hex-row row1">
        
        

        <div class="hex">
            <div class="top"></div>
            <div class="middle info z"><p class="title">micronemez</p><p class="subtitle" title="--marvin minisky">those inner mental context clues that shade our minds&#039; activities in ways we can rarely express.</p></div>
            <div class="bottom"></div>
        </div>
		<div class="hex z">
		    <div class="top"></div>
                
		    <div class="middle current"><h1>CURRENT</h1>
                <p class="current_info">
                    <% unless @live_now.count == 0 %>
                        LIVE: 
                        <% @live_now.each do |l| %>
                            <%= l.title %> <i>until</i> <%= l.end.to_s(:onlytime) %>
                        <% end %>
                    <% else %>
                        UPCOMING: 
                        <% unless @upcoming_this_month %>
                            
                            <%= @upcoming_this_month.title %> <i>until</i> <%= @upcoming_this_month.end.to_s(:onlytime) %>
 
                        <% else %>
                            NONE YET (BRB!)
                        <% end %>
                    <% end %> 
                  
                </p>
            </div>
		    <div class="bottom"></div>
		</div>
        
    </div>
    <div class="hex-row even row2">
    <div class="hex">
            <div class="top"></div>
            <div class="middle schedule z"><h1>UPCOMING <br /></h1></div>
            <div class="bottom"></div>
        </div>		
        
    </div>
   <!--div class="hex-row even row3">
        
                
       <div class="hex">
            <div class="top"></div>
            <div class="middle archive z"><h1>ARCHIVE <br /></h1></div>
            <div class="bottom"></div>
        </div>      
        
    </div> 
       <div class="hex_connector">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
        </div>
        <div class="hex_connector">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
        </div>


    </div-->
    
    

</div>
    

​
