<% content_for :header do %>

  <%= javascript_include_tag 'hexx_assets' %>
  <%= javascript_include_tag 'hexx' %>
<% end %>

<div id="archive-container" class="transitions-enabled infinite-scroll clearfix">
    <% @videos.each do |video| %>
      <div class="box col2">
        <span><%= link_to t(video.catnum), video %></span>
        <span><%= truncate(video.title, :length => 28) %></span>
        <span><%= truncate(video.location, :length => 28) %></span>
        <span><%= video.tag_list %></span>
        <span><%= truncate(video.description, :length => 28) %></span>
        <% if user_signed_in? %>
            <span><%= link_to t(:edit), edit_video_path(video) %></span>
            <span><%= link_to t(:destroy), video, confirm: t(:confirm), method: :delete %></span>
        <% end %>
        <%= link_to image_tag("/images/#{video.catnum}.jpg", :class=> 'video_thumb', :width => "100"), "/video/show/#{video.catnum}", :title => "#{video.title}",  :id => "#{video.catnum}" %>

      </div>
      
    <% end %>

    

</div> <!-- #container -->

<!--<nav id="page-nav"><a href="../pages/2.html"></a></nav>-->
<%= will_paginate @videos %>