<div class="box userz">
<% if user_signed_in? %>
  <%=t(:you_are)%> <%= current_user.email %>. <%= link_to "sign out", destroy_user_session_path, :method => :delete %>?
<% else %>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label t :username %><br />
    <%= f.text_field :username, :autofocus => true %></div>
  
    <div><%= f.label t :password %><br />
    <%= f.password_field :password %></div>
  
 
  
    <div><%= f.submit t(:sign_in) %></div>
    <br/>
  <% end %>

  <%= render "links" %>
  
<% end %>
</div>